#details-popup{
    position: absolute;
    z-index: 2147483648;
    width: 70%;
    left: 15%;
    top: 20%;
    display: none;
    background-color: lightgrey;
    border-radius: 1%;
    padding-bottom: 5%;
}